

.module-contact-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "nav nav desc desc desc";
    top: 28%;
    height: 55%;
    max-width: 1500px;
    left: 50%;
    transform: translate(-50%, 0);
}

.grid-nav {
    grid-area: nav;
    transform: rotate(-5deg);
    z-index: 3;
    padding: 1rem;
    height: 50%;
    width: 100%;
    margin-top: 10%;
}

.menuImg {
    width: 100%;
    max-height: 90%;
    left: 0;
    position: absolute;
    border-radius: 5px;
    z-index: -1;
}

.second {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.menuElement {
    height: 18%;
    width: 85%;
    transition: height 0.5s, width 0.5s, font-size 0.5s;
    width: 80%;
    margin-left: 7%;
    position: relative;
    user-select: none;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
}

.menuElement:hover {
    height: 30%;
    width: 88%;
    font-size: 3rem !important;
}

.textMenuElement {
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 10%;
    filter: invert(59%) sepia(33%) saturate(679%) hue-rotate(12deg) brightness(88%) contrast(83%);
    max-height: 90%;
}

.active {
    height: 30%;
    width: 88%;
    /* color: rgba(159, 142, 65, 1) */
}

.activeImg {
    filter: invert(59%) sepia(33%) saturate(679%) hue-rotate(12deg) brightness(88%) contrast(83%);
}

.activeText {
    filter: none;
    font-size: 3rem;
}




.menuBackground {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.textBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
}

.grid-desc {
    grid-area: desc;
    display: none;
    position: relative;
    z-index: 4;
    padding: 0 1%;
}

.displayTrue {
    display: unset;
}

.profileContainer, .profileContainerStamp {
    width: 85%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    top: 10%;
    left: 10%;
    position: absolute;
    grid-template-areas: "photo photo info info info info"
        "photo photo info info info info"
        "emp emp info info info info";
}
.profileContainerStamp { 
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "emp1 emp1 emp1 emp emp emp emp emp"
        "emp1 emp1 emp1 emp emp emp emp emp"
        "emp1 emp1 emp1 emp emp emp emp emp"
        "emp4 stamp stamp emp emp emp emp emp"
        "emp4 stamp stamp emp emp emp emp emp"
        "emp4 stamp stamp emp emp emp emp emp"
        "emp4 emp3 emp3 emp emp emp emp emp";
}
.profileStamp {
    grid-area: stamp;
    transform: rotate(10deg);
    opacity: 0.8;
}

.profilePhoto {
    grid-area: photo;
    position: relative;
}

.userPhoto, .stampPhoto{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    top: 0;
    transform: rotate(3deg);
}
.profileContacts {
    grid-area: info;
    background-color: rgba(60, 56, 56, 0.5);
    border-radius: 1rem;
    transform: rotate(0deg);
}