@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800&family=Russo+One&display=swap');

.App, #root {
  text-align: center;
  width: 100%;
  height: 100%;
  margin:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  filter: none;
}