@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800;900&family=Oswald:wght@400;500;600;700&family=Russo+One&family=Sedgwick+Ave&family=Shadows+Into+Light&family=Fredericka+the+Great&family=Cabin+Sketch:wght@400;700&family=Special+Elite&display=swap');
@font-face {
  font-family: Maschine;
  src: url(./fonts/mechanical-machine.ttf) format('truetype');
}
:root {
  --height-of-ticket: 8vmin;
  --height-of-glass-ticket: 4.5vmin;
  --height-of-text-block-ticket: 4vmin;
  --height-from-bottom-ticket: 2vmin;
  --height-of-pixel-ticket: 0.3vmin;
  --height-of-text-ticket: 3vmin;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
